.accordion
  .message
    &:not(:first-child)
      .message-header
        border-radius: 0
    &:not(:last-child)
      margin-bottom: 0
      .message-body
        border-radius: 0
    .message-header
      .toggle
        -webkit-touch-callout: none
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        -moz-appearance: none
        -webkit-appearance: none
        background-color: rgba(10,10,10,0.2)
        border: none
        border-radius: 290486px
        cursor: pointer
        display: inline-block
        flex-grow: 0
        flex-shrink: 0
        font-size: 1em
        height: 20px
        max-height: 20px
        max-width: 20px
        min-height: 20px
        min-width: 20px
        outline: none
        position: relative
        vertical-align: top
        width: 20px
        margin-left: .75em
        &::after
          color: $white
          display: block
          left: 0
          position: absolute
          top: -.1em
          right: 0
          bottom: 0
          content: '\002B'
    .message-body
      text-align: initial
      max-height: 0
      opacity: 0
      visibility: hidden
      overflow: hidden
      padding: 0
      -webkit-transition: padding 0s, max-height 0.5s ease-in-out, opacity 0.5s, visibility 0.5s
      -moz-transition: padding 0s, max-height 0.5s, opacity 0.5s, visibility 0.5s
      -o-transition: padding 0s, max-height 0.5s, opacity 0.5s, visibility 0.5s
      transition: padding 0s, max-height 0.5s, opacity 0.5s, visibility 0.5s
    &.is-active
      .message-header
        .toggle
          &::after
            content: '\002D'
      .message-body
        max-height: 100em
        opacity: 1
        visibility: visible
        padding: $message-body-padding
